
.order2-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .gift-baskets {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .gift-basket {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .gift-basket h2 {
    font-size: 24px;
  }
  
  .gift-basket p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .gift-basket button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .note {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }
  
  
  .gift-basket button:hover {
    background-color: #0056b3;
  }

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Box styles */
  .box {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid black;
    display: flex;
  }
  
  /* Image styles */
  .box img {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* Content styles */
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
  overflow: hidden; 
  text-align: center;
  }
  
  /* Header styles */
  .content h3 {
    font-size: 24px;
    padding: 12px;
  }
  
  /* Description styles */
  .content p {
  flex: 1; /* Allow content to take up the remaining space */
  display: flex; /* Flex layout for alignment */
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 10px; /* Add padding for space around the content */
  text-align: center; /* Center the text */
  margin: 3px;
}

/*title page*/
.Title {
  text-align: center; /* Center align the content */
  background-image: url(); /* Replace 'background.jpg' with the path to your background image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  
  padding: 50px; /* Add padding for spacing around the content */
}

.Title h1 {
  font-size: 2.5em; /* Adjust the font size of the title */
}

.Title p {
  font-size: 1.2em; /* Adjust the font size of the paragraph */
}


  