body {
  background-color: white;
}

p {
  font-size: 30px;
  text-align: center;
  width: auto;
  padding: 55px;
}

h1, h2, h3, h4 {
  font-size: xx-large;
  text-align: center;
}

/* Special Someone Section */
.specialSomeone {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; /* Adjust as needed for spacing between sections */
}

.image-container {
  flex: 1;
  margin-right: 20px; /* Adjust as needed for spacing between image and text */
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
  object-fit: cover;
}

/* Style for the specific text-container section */
.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white; /* Adjust the background color as needed */
}

.text-content {
  flex: 1;
  padding-right: 20px; /* Space between text and image */
}

.carousel-image {
  flex: 0 0 auto; /* Prevent the image from growing or shrinking */
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

h3 {
  margin-top: 0;
}

button {
  align-self: flex-end;
}

.headerQutoe {
  margin: 0px;
  color: #000000;
  line-height: 140%;
  text-align: center;
  word-wrap: break-word;
  font-family: Comic Sans MS;
  font-size: 44px;
}

button {
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Comic Neue', cursive;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #c5b883;
  border-radius: 0px;
  width: auto;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 14px;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

/* Centered Container for Smile Image */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.centered-container img {
  max-width: 50%;
  max-height: 100%;
}

/* Images Layout */
.image-container {
  flex: 1;
  padding: 50px;
  width: 40%;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  padding: 25px;
  margin: 5px;
}

.text-container {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container p {
  font-size: xx-large;
  padding: 12px;
}

.intro-par {
  flex: 1;
  padding: 50px;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 4em;
}

/* Carousel Section */
.carousel-container {
  margin-top: 20px;
  padding: 20px;
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button {
  font-size: 14px;
  color: #000;
}

.slick-dots li.slick-active button {
  color: #fff;
  background-color: #000;
}

/* Flexbox for carousel slide content */
.carousel-slide {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  padding: 20px; /* Adjust the padding as needed */
  background-color: white; /* Adjust the background color as needed */
}

/* Style for carousel image */
.carousel-image {
  max-width: 50%; /* Adjust the max-width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between image and text */
}

/* Style for carousel text */
.carousel-text {
  max-width: 50%; /* Adjust the max-width as needed */
}

.carousel-text h1 {
  margin: 0;
  font-size: 1.5em; /* Adjust the font size as needed */
}

.carousel-text p {
  margin: 10px 0 0; /* Space between the header and the price */
  font-size: 1.2em; /* Adjust the font size as needed */
}

/* Add media query for smaller screens if needed */
@media (max-width: 620px) {
  .combined-section {
    flex-direction: column;
  }

  .intro-par,
  .image-container {
    max-width: 100%;
  }
}
